* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #3c423b;
}

.container {
    width: 80vmin;
    padding: 50px 30px;
    background-color: #95D2B3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(41, 187, 148, 0.879);
}

.stats {
    text-align: right;
    font-size: 18px;
    margin-bottom: 30px;
}

.stats span {
    font-weight: 600;
}

#quote {
    text-align: justify;
    margin: 50px 0 30px 0;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    text-align: right;
}

button {
    display: inline-block; /* Ensures buttons stay on the same line */
    margin-top: 20px;
    margin-bottom: 20px; /* Creates space below the button */
    background-color: #2e6568;
    color: #f1e9e9;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
}

#start-test {
    margin-right: 10px; /* Creates space between start and stop buttons */
}

#stop-test {
    margin-right: 10px; /* Creates space between stop and reset buttons */
}

.result {
    margin-top: 40px;
    display: none;
}

.result h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.wrapper span {
    font-weight: 600;
}

.success {
    color: #44b267;
}

.fail {
    color: #e81c4e;
}
